

.root{
    -fx-background-color: #fff2c2;
}

.button{
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-border-color: #fca7a7;
    -fx-border-radius: 6;
    -fx-text-fill: black;
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-border-width: 2;
}

.button:disabled{
    -fx-opacity: 1;
    -fx-text-fill: gray;
    -fx-font-weight: none;
}

.text-field{

}

.label{
    -fx-text-fill: black;
    -fx-font-size: 13;
}

#filledTextField{
    -fx-pref-width: 3em;
    -fx-pref-height: 3em;
    -fx-border-radius: 4;
}

#emptyTextField{
    -fx-background-color: #f7f7f7;
    -fx-pref-width: 3em;
    -fx-pref-height: 3em;
    -fx-opacity: 1;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 4;
}

